version: "3.8"

services:
  # MongoDB Replica Set
  mongo1:
    container_name: mongo1
    image: mongo:4.4
    volumes:
      - ~/mongors/data1:/data/db
      - ./rs-init.sh:/scripts/rs-init.sh
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: prisma
      MONGO_REPLICA_HOST: host.docker.internal
    networks:
      - kafka-network
    ports:
      - "27021:27017"
    links:
      - mongo2
      - mongo3
    restart: always
    entrypoint: ["/usr/bin/mongod", "--bind_ip_all", "--replSet", "dbrs"]
  mongo2:
    container_name: mongo2
    image: mongo:4.4
    volumes:
      - ~/mongors/data2:/data/db
    networks:
      - kafka-network
    ports:
      - 27022:27017
    restart: always
    entrypoint: ["/usr/bin/mongod", "--bind_ip_all", "--replSet", "dbrs"]

  mongo3:
    container_name: mongo3
    image: mongo:4.4
    volumes:
      - ~/mongors/data3:/data/db
    networks:
      - kafka-network
    ports:
      - 27023:27017
    restart: always
    entrypoint: ["/usr/bin/mongod", "--bind_ip_all", "--replSet", "dbrs"]
  # Loki
  # loki:
  #   image: grafana/loki:2.0.0
  #   container_name: loki
  #   ports:
  #     - "3100:3100"
  #   command:
  #     - --config.file=/mnt/config/loki-config.yaml
  #   volumes:
  #     - ./loki-config.yaml:/mnt/config/loki-config.yaml:ro
  #   networks:
  #     - kafka-network

  # # Grafana
  # grafana:
  #   image: grafana/grafana:latest
  #   container_name: grafana
  #   ports:
  #     - 5600:5600
  #   environment:
  #     - GF_AUTH_ANONYMOUS_ENABLED=true
  #     - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
  #   volumes:
  #     - ./grafana/provisioning-datasources.yml:/etc/grafana/provisioning/datasources/provisioning-datasources.yml
  #   networks:
  #     - kafka-network
  # Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.4
    container_name: zookeeper
    ports:
      - "22181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - kafka-network

  # Kafka
  kafka:
    image: confluentinc/cp-kafka:7.4.4
    container_name: kafkaMQ
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafkaMQ:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - kafka-network

  # Debezium
  connect:
    image: quay.io/debezium/connect:2.0
    container_name: debezium
    ports:
      - "8083:8083"
    environment:
      BOOTSTRAP_SERVERS: kafkaMQ:9092
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: my_connect_configs
      OFFSET_STORAGE_TOPIC: my_connect_offsets
      STATUS_STORAGE_TOPIC: my_connect_statuses
    depends_on:
      - kafka
    networks:
      - kafka-network

  # Kafka UI
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8085:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafkaMQ:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - kafka-network

  # Gateway Service
  gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    image: datvudinhtrong/gateway
    container_name: gateway
    ports:
      - "3050:3050"
    environment:
      - PORT=3050
      - REQUEST_URL=http://gateway:3050
      - USER_SERVICES_REQUEST_URL=http://userservices:3056/services/api/user
      - DEPARTMENT_SERVICES_REQUEST_URL=http://departmentservices:3057/services/api/department
      - ASSIGNMENT_SERVICES_REQUEST_URL=http://assignmentservices:3058/services/api/assignment
      - PROJECT_SERVICES_REQUEST_URL=http://projectservices:3059/services/api/project
      - CLIENT_REQUEST_URL=http://projectservices:3059/services/api/project/client
      - TASK_SERVICES_REQUEST_URL=http://taskservices:3060/services/api/task
      - ACTIVITY_SERVICES_REQUEST_URL=http://activityservices:3061/services/api/activity
      - EMAIL_SERVICES_REQUEST_URL=http://emailservices:3069/services/api/email
      - UPLOAD_SERVICES_REQUEST_URL=http://uploadservices:3068/services/api/upload
      - DOCKER_DEFAULT_PLATFORM=linux/amd64
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - PUBLIC_KEY=abcdefgh123
      - PRIVATE_KEY=12345678abc
    labels:
      co.elastic.logs/module: filebeat
      co.elastic.logs/json.keys_under_root: true
      co.elastic.logs/json.add_error_key: true
      co.elastic.logs/json.expand_keys: true
    depends_on:
      - userservices
      - projectservices
      - assignmentservices
      - activityservices
      - departmentservices
      - taskservices

    networks:
      - kafka-network

  # User Services
  userservices:
    build:
      context: ./userservices
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    image: datvudinhtrong/userservices
    container_name: userservices
    environment:
      - PORT=3056
      - CLOUDINARY_API_SECRET=Ec2Fdj1v2voufkhhkX-CkhOZnj8
      - KAFKA_BROKER=kafkaMQ:9092
      - DATABASE_URL=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/userService?replicaSet=dbrs
      - DOCKER_DEFAULT_PLATFORM=linux/amd64
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - GRPC_PORT=50053
      - ASSIGNMENT_GRPC_PORT=assignmentservices:50056
      - UPLOAD_GRPC_PORT=uploadservices:50057
    labels:
      co.elastic.logs/module: filebeat
      co.elastic.logs/json.keys_under_root: true
      co.elastic.logs/json.add_error_key: true
      co.elastic.logs/json.expand_keys: true
    ports:
      - "3056:3056"
    depends_on:
      - kafka

    networks:
      - kafka-network
  # Department Services
  departmentservices:
    build:
      context: ./departmentservices
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    image: datvudinhtrong/departmentservices
    container_name: departmentservices
    environment:
      - PORT=3057
      - KAFKA_BROKER=kafkaMQ:9092
      - DATABASE_URL=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/departmentService?replicaSet=dbrs
      - DOCKER_DEFAULT_PLATFORM=linux/amd64
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - USER_GRPC_PORT=userservices:50053
    labels:
      co.elastic.logs/module: filebeat
      co.elastic.logs/json.keys_under_root: true
      co.elastic.logs/json.add_error_key: true
      co.elastic.logs/json.expand_keys: true
    ports:
      - "3057:3057"
    depends_on:
      - kafka

    networks:
      - kafka-network

  # Assignment Services
  assignmentservices:
    build:
      context: ./assignmentservices
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    image: datvudinhtrong/assignmentservices
    container_name: assignmentservices
    environment:
      - PORT=3058
      - KAFKA_BROKER=kafkaMQ:9092
      - DATABASE_URL=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/assignmentService?replicaSet=dbrs
      - DOCKER_DEFAULT_PLATFORM=linux/amd64
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - GRPC_PORT=50056
      - USER_GRPC_PORT=userservices:50053
      - TASK_GRPC_PORT=taskservices:50054
      - PROJECT_GRPC_PORT=projectservices:50055
    labels:
      co.elastic.logs/module: filebeat
      co.elastic.logs/json.keys_under_root: true
      co.elastic.logs/json.add_error_key: true
      co.elastic.logs/json.expand_keys: true
    ports:
      - "3058:3058"
    depends_on:
      - kafka

    networks:
      - kafka-network

  # Project Services
  projectservices:
    build:
      context: ./projectservices
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    image: datvudinhtrong/projectservices
    container_name: projectservices
    environment:
      - PORT=3059
      - CLOUDINARY_API_SECRET=Ec2Fdj1v2voufkhhkX-CkhOZnj8
      - KAFKA_BROKER=kafkaMQ:9092
      - DATABASE_URL=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/projectService?replicaSet=dbrs
      - DOCKER_DEFAULT_PLATFORM=linux/amd64
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - GRPC_PORT=50055
      - ASSIGNMENT_GRPC_PORT=assignmentservices:50056
    labels:
      co.elastic.logs/module: filebeat
      co.elastic.logs/json.keys_under_root: true
      co.elastic.logs/json.add_error_key: true
      co.elastic.logs/json.expand_keys: true
    ports:
      - "3059:3059"
    depends_on:
      - kafka

    networks:
      - kafka-network

  # Email Services
  emailservices:
    build:
      context: ./emailservices
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    image: datvudinhtrong/emailservices
    container_name: emailservices
    environment:
      - PORT=3069
      - CLOUDINARY_API_SECRET=Ec2Fdj1v2voufkhhkX-CkhOZnj8
      - KAFKA_BROKER=kafkaMQ:9092
      - DATABASE_URL=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/emailService?replicaSet=dbrs
      - DOCKER_DEFAULT_PLATFORM=linux/amd64
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - EMAIL_PASS=bwwk zwuo qfqw ciyf
    labels:
      co.elastic.logs/module: filebeat
      co.elastic.logs/json.keys_under_root: true
      co.elastic.logs/json.add_error_key: true
      co.elastic.logs/json.expand_keys: true
    ports:
      - "3069:3069"
    depends_on:
      - kafka

    networks:
      - kafka-network

  #Upload servicse
  uploadservices:
    build:
      context: ./uploadservices
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    image: datvudinhtrong/uploadservices
    container_name: uploadservices
    environment:
      - PORT=3068
      - CLOUDINARY_API_SECRET=Ec2Fdj1v2voufkhhkX-CkhOZnj8
      - KAFKA_BROKER=kafkaMQ:9092
      - DOCKER_DEFAULT_PLATFORM=linux/amd64
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - GRPC_PORT=50057
    labels:
      co.elastic.logs/module: filebeat
      co.elastic.logs/json.keys_under_root: true
      co.elastic.logs/json.add_error_key: true
      co.elastic.logs/json.expand_keys: true
    ports:
      - "3068:3068"
    depends_on:
      - kafka

    networks:
      - kafka-network

  # Task Services
  taskservices:
    build:
      context: ./taskservices
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    image: datvudinhtrong/taskservices
    container_name: taskservices
    environment:
      - PORT=3060
      - CLOUDINARY_API_SECRET=Ec2Fdj1v2voufkhhkX-CkhOZnj8
      - KAFKA_BROKER=kafkaMQ:9092
      - DATABASE_URL=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/taskService?replicaSet=dbrs
      - DOCKER_DEFAULT_PLATFORM=linux/amd64
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - GRPC_PORT=50054
      - ASSIGNMENT_GRPC_PORT=assignmentservices:50056
    labels:
      co.elastic.logs/module: filebeat
      co.elastic.logs/json.keys_under_root: true
      co.elastic.logs/json.add_error_key: true
      co.elastic.logs/json.expand_keys: true
    ports:
      - "3060:3060"
    depends_on:
      - kafka

    networks:
      - kafka-network

  # Activity Services
  activityservices:
    build:
      context: ./activityservices
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    platform: linux/amd64
    image: datvudinhtrong/activityservices
    container_name: activityservices
    environment:
      - PORT=3061
      - KAFKA_BROKER=kafkaMQ:9092
      - DATABASE_URL=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/activityService?replicaSet=dbrs
      - DOCKER_DEFAULT_PLATFORM=linux/amd64
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - USER_GRPC_PORT=userservices:50053
    labels:
      co.elastic.logs/module: filebeat
      co.elastic.logs/json.keys_under_root: true
      co.elastic.logs/json.add_error_key: true
      co.elastic.logs/json.expand_keys: true
    ports:
      - "3061:3061"
    depends_on:
      - kafka
    networks:
      - kafka-network
  # projectmanagementwebui:
  #   platform: linux/amd64

  #   image: chicong42/projectmanagementwebui
  #   environment:
  #     - VITE_REQUEST_API_URL=gateway:3050
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - kafka-network
volumes:
  esdata:
    driver: local
networks:
  kafka-network:
    driver: bridge
